<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/homepage.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
</head>
<body>
<h1 class="homepage">I am homepage!</h1>
</body>
</html>
