<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
  <div class="login-wrapper">
    <div class="login-container">
      <h1>Welcome to WunderList</h1>
      <form ng-submit="login()">
        <input type="email" ng-model="user.name" class="form-control" placeholder="Username">
        <input type="password" ng-model="user.password" class="form-control" placeholder="Password">
        <button class="btn btn-lg btn-primary btn-block" ng-click="login()" type="submit" onclick="move()">Log in</button>
      </form>
    </div>
  </div>
  <script>
    function move() {
      window.location.href = '/homepage';
    }
  </script>
  </body>
</html>
