html {
  min-height: 100%;
  position: relative;
  color: #1b6d85;
}

.login-wrapper{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.login-container input {
  color: white;
}

body, .login-wrapper {
  background-size: 100% 100%;
  height: 100%;
}

h1 {
  margin-top: 0 !important;
  text-align: center;
  color: white !important;
}

.login-container input {
  margin-bottom: 10px;
}

.login-container {
  width: 250px;
  top: 10%;
  right: 25%;
  position: absolute;
  padding: 30px;
  border-radius: 15px;
  background-color: rgba(57, 76, 122, 0.9) !important;
}

.login-container input {
  display: block;
  padding: 5px;
  position: relative;
  margin-bottom: 10px;
}

input {
  color: #5bc0de !important;
}